*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.showcase span{
    color: rgb(177, 150, 98);
    background-color: white;
    border-radius: 10px;
    padding:20px;
}
body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.5;
}
.fa-solid{
  padding-top: 7px;
  padding-left: 0px;
}
a{
    color: #262626;
    text-decoration: none;
}
ul {
    list-style: none;
}
.mainnav .logo {
    padding-left: 20px;
    width: 200px;
    height: 90px;

}
.main-menu{
    padding-left: 40px;
}
.container{
     width: 90%;
     max-width: 1100px;
     margin:auto;
}
.mainnav{
    display: flex;
    align-items: center;
    height: 100px;
    padding: 10px 0;
    font-size: 13px;
    justify-content: space-between;
    

}
.mainnav ul{
    display: flex;
  
}
.mainnav ul li{
    padding: 0 15px;
}

.mainnav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}
.mainnav .logo{
    width: 110px;
}
.right-menu .cart{
    width: 20px;
    height: 20px;
    
}
.right-menu .sign{
    width: 35px;
    height: 20px;
    
}
.mainnav ul li a{
    font-weight: bold;
    font-size: medium;
}
.mainnav ul li a:hover{
    border-bottom: 2px solid #262626;
    padding-bottom: 6px;

}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
}

.btn:hover{
    background-color: rgb(231, 105, 105);
    transition: 0.4s ease-in-out;
}
.home-card img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.home-card img:hover{
    transform: scale(1.1)
    
}
.pkg a{
    border: 2px solid #111;
    padding: 15px;
}
.pkg a:hover{
    background-color:rgb(177, 150, 98) ;
transition: 0.4s ease-in-out;
color: white;
}
.heading h1,p,a{
    margin: 12px;
}
.heading a{
    border: 2px solid #fff;
    padding: 15px;
    color: white;
}
.heading2 a{
    border: 2px solid #fff;
   
    padding: 15px;
    color: white;
}
.heading2 a:hover{
background-color:rgb(177, 150, 98) ;
transition: 0.4s ease-in-out;
color: white;
}
.heading a:hover{
    background-color: rgb(177, 150, 98);
transition: 0.4s ease-in-out;
color: white;
}
.travel a {
    border: 2px solid #fff;
   padding: 15px;
    color: white;
   
}
.travel a:hover{
    background-color: rgb(177, 150, 98) ;
    transition: 0.3s ease-in-out;
}
.btn:hover{
 opacity: 0.9;
 overflow: hidden;
}
.showcase{
    width: 100%;
    height: 600px;
    opacity: 1.2;
    background: url('images/nepal\ images2.jpg') no-repeat center center/cover;
}
.showcase h2 {
  
    padding-top: 170px;
padding-left: 50px;
margin-bottom: 20px;
font-size: 40px;
font-weight: 900;

}
.fa-solid .fa-backpack{
    color: rgb(177, 150, 98);
}
.showcase p {
    margin: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 28px;
    color: rgb(177, 150, 98);
    background-color: white;
    border-radius: 10px;
    display: inline;
    padding: 20px;
    font-style: oblique;
    }
    .showcase .btn{
        color: #E5BE77;
    }
.btn {
margin-left: 50px;
}
.info{
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
}
.home-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding-bottom: 60px;
    padding-left: 40PX;
    margin-right: 40px;
}
.home-card img{
    width:100%;
    margin-bottom: 20px;
}
.trips h1{
    padding-left: 50px;
    padding-top: 20px;
   padding-bottom: 30px;
}
.xbox{
    width: 100%;
    height: 350px;

}
.xbox{
    height: 700px;
    width: 100%;
    background: url('images/nepal\ images.jpg') no-repeat center center/cover;
}
.xbox .content{
    width: 40%;
    padding-top: 20px;
    color: white;
 
    padding-left: 20px;
    padding-bottom: 20px;
  
   
}
.wp{
    width: 60px;
    height: auto;
}
.contacts{
    font-weight: 400;
    font-size: 15px;
    padding-right: 20px;
    align-self: center;
}


.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(36, 3, 3);
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    
}
.fa-brands{
    color: rgb(252, 250, 250);
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;

   
  
}
.home-card h3,p{
    padding-left: 20px;
    padding-bottom: 20px;
}
section .home-card{
   
    padding-top: 40px;
    padding-bottom: 40px;
}
section .home-card .travel{
    background-color:rgba(58, 55, 55, 0.74);
    color: white;
       opacity: 1.9;
}
.content{
  
    background-color:rgba(58, 55, 55, 0.74);
 
    opacity: 1.9;
}
.xbox{
    background-image: url(images/nepal\ images.jpg);
    background-attachment: fixed;
}

.links
{
    background: rgb(0, 0, 0);
    color: white;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 40px;


}

/* button .button{
    padding-left: 60px;
} */
.buttons{
    padding-left: 20px;
    background-color: #004675;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition-duration: 0.4s;
}

    .button {
        background-color: #004675;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        transition-duration: 0.4s;
  
        
      }
      .button:hover{
       background-color:rgb(231, 105, 105);
       cursor: pointer;
      }

.links-inner{
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    color: white;
    grid-template-columns: repeat(5,1fr);

    line-height: 30px;
}
.links-inner h3{
    color: rgb(177, 150, 98);
}
.links-inner ul li a{
    color: white;
}
.home-card .travel img{
    height: 250px;
    object-fit: cover;
  
}
.copyright{
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
}
.copyright p{
   padding-top: 20px;
 padding-left: 40%;
}

.pkg{
    position: relative;

}

.price{
    position: absolute;
    color: white;
    top: 10px;
    left: 1px;
    background-color:#bf6740 ;
    font-size: 20px;
    padding: 7px;
}
.travel{
    position: relative;
}


  
.prices{
    position: absolute;
    top: 10px;
    left: 1px;
    background-color:#bf6740 ;
    font-size: 20px;
    padding: 7px;
}
.search{
    padding: 35px;
    background-color: #f3f5f7;
  }
  .searchbar{
  
    background: #FFF;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    margin-top: 2px;
  
  }
  .tour{
    padding: 1px 10px 1px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .search h3{
    color: rgb(19, 17, 17);
    font-size: 25px;
    padding-bottom: 10px;
  }
  .tourbtn button{
    background: #bf6740;
    width: 150px;
    height: 50%;
    font-size: 20px;
    padding: 10px;
    margin-right: 20px;
    margin-top: 30px;
    outline: none;
    border: none;
    color: white;
    border-radius: 6px;
  }

  .contact div input, textarea, select{
    width: 100%;
    padding: 10px 10px;
    background-color: rgb(219, 213, 213);
    border: 1px solid rgb(173, 171, 171);
    border-radius:7px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .travel h3{
      color: white;
      font-weight: bolder;
      ;
  }
  .fa-solid{
      color:(177, 150, 98) ;
  }
.socials{
    display: flex;
    padding-right: 120px;
}
  .soc img{
      width: 80px;
      height: 70px;
     
      margin: 5px;
      margin: 5px;
  }
  .copy p{
      font-size: 15px;
      font-weight: 900;
  }


  .search-bars{
    width: 60%;
    max-width: 700px;
    height: 40px;
    margin: 10px;
    background:rgb(177, 150, 98) ;
    align-items: center;
    border-radius: 20px;
    padding: 10px 3px ;
    display: flex;
   
}
.search-bars input{
    background: transparent;
    flex: 1;
    border:0 ;
    outline: none;
    padding: 24px 10px;
    font-size: 15px;
    color: #cac7ff;
    flex-basis: 700px;
}

::placeholder{
    color: #eeeef1;  
}


.search-bars button{
    
    border: 0;
    border-radius: 50%;
  width: 200px;
  height: 50px;
    background:transparent;
    cursor:pointer
}
 .fa-magnifying-glass{
    font-size: 20px;
    padding-left: 40px;
}
